.Section{
    padding-top: 15px;
}

.card{
    height: 560px; 
    border: 1px solid #ddd; /* Viền của card */
    border-radius: 8px; /* Bo tròn các góc */
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Bóng đổ */}

.card a{
    background-color: #000;
    color: white;
    border: none;
}
.card a:hover{
    background-color: #000;
    color:white;
}
.card a:active {
    background-color: #000; /* You can set the background color for the :active state if needed */
    color: white; /* You can set the text color for the :active state if needed */
}
.card img {
    text-decoration: none;
    width: 100%;
    height: auto;
    object-fit: cover; /* Đảm bảo hình ảnh vừa với kích thước của phần tử */
}

h1{
    background-color:#000;
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 10px;
    border: 1px solid #ddd ;
    border-radius: 8px;
    text-align: center;
    justify-content: center;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Bóng đổ */
}

.Title_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card-img-top {
    max-height: 300px; /* Set your desired maximum height */
    width: auto; /* Ensure the width adjusts to maintain aspect ratio */
}

.NoResult{
    height: 50vh;
    width: auto;
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card {
    height: 560px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    animation: fadeInUp 1s ease-in-out; /* Sử dụng animation */
}

.filter-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    background-color: #f8f9fa; /* Màu nền */
    border: 1px solid #dee2e6; /* Viền */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Bóng đổ */
    margin-bottom: 15px;
}

.filter-container label {
    margin-right: 10px;
}

.filter-container select {
    padding: 8px;
    border: 1px solid #ced4da; /* Viền input */
    border-radius: 4px;
    outline: none;
}

.filter-container select:hover {
    border-color: #6c757d; /* Màu viền khi hover */
}

.filter-container select:focus {
    border-color: #007bff; /* Màu viền khi focus */
}

.filter-container select:disabled {
    opacity: 0.7; /* Độ mờ khi bị disabled */
}

.filter-container select option {
    background-color: #fff; /* Màu nền option */
    color: #495057; /* Màu chữ option */
}

.filter-container select option:hover {
    background-color: #007bff; /* Màu nền khi hover option */
    color: #fff; /* Màu chữ khi hover option */
}

/* Thêm hover animation cho nút a */

