*{
    box-sizing: border-box;
}

.Section{
    padding-top: 20px;
}
.img-fluid{
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.Cart_Button{
    border: none;
    background-color: #000;
    color:white;
}

.Cart_Button:hover{
    background-color: #000;
    color:white;
}

.Cart_Button:active{
    background-color: #000;
    color:white;
}

.product-details {

    animation: fadeInUp 1s ease-in-out; /* Sử dụng animation */
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.Title{
    background-color:#000;
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 10px;
    border: 1px solid #ddd ;
    border-radius: 8px;
    text-align: center;
    justify-content: center;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Bóng đổ */
}

.Related_Wrap{
    animation: fadeInUp 1s ease-in-out; /* Sử dụng animation */
    margin-top: 50px;
}