*{
    box-sizing: border-box;
}

    body {
        margin-top: 0px;
        background-color: #f8f9fa;
    }

    .container {
        
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
       
        margin-top: 10px;
        margin-bottom: 40px;
    }

    form {
        max-width: 600px;
        margin: 0 auto;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        font-weight: bold;
        display: block;
    }

    input[type="text"],
    input[type="number"],
    textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ced4da;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type="file"] {
        margin-top: 5px;
    }

    button {
        background-color: #000 !important;
        border: none !important;
        color: #ffffff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

  .mb-4{
    text-align: center;
    justify-content: center;
  }
  .mb-4 p{
    display: inline-block;
    background-color: #000;
    color: #ffffff;
    padding: 6px 15px;
    border-radius: 8px;
  }

    a {
        color: #007bff;
        text-decoration: none;
        display: inline-block;
        margin-top: 10px;
    }

    a:hover {
        color: #0056b3;
    }


    .Section{
        margin-top: 60px !important;
    }

    .Container-animate{
        animation: fadeInUp 1s ease-in-out; /* Sử dụng animation */
    }


    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    