/* footer.css */

.site-footer {
    box-sizing: border-box;
  
    background-color: #000;
    color: white;
    text-align: center;
    padding: 20px;
  overflow: hidden;
    bottom: 0;
    width: 100%;
}

.footer-content {
  
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer-section {
  
    flex: 1;
    text-align: left;
    padding: 10px;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section li {
    margin-bottom: 5px;
    text-decoration: none;
}

.footer-section a {
    color: white; /* Đặt màu chữ cho thẻ a */
    text-decoration: none; /* Loại bỏ chữ gạch chân (underline) */
}

.footer-section a:hover {
    text-decoration: underline; /* Hiển thị chữ gạch chân khi di chuột qua thẻ a */
}

