@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");

*{
    box-sizing: border-box;
}

:root {
    --bggradient: linear-gradient(to bottom, #333333, #555555);
    --sniglet-font: "siglet",cursive;
    --Rubik:"Rubik", cursive;
    --Patua:"Patua One", cursive;
    --Lobster:"Lobster", cursive;
}

body {
    overflow-x: hidden;
}

header {
    background: var(--bggradient);
}
header a {
    font-family: var(--sniglet-font);
    color: white;
}
.navbar-brand {
    padding-left: 8rem;
}

.nav-item {
    padding: 0.9rem;
}
.nav-link:hover {
    color: black;
}

header a {
    font-size: 0.9em;;
}

header .row .col-md-7 {
    padding: 22vmin 1vmin;
    padding-bottom: 35vmin;
}

header .row .col-md-5 {
    padding: 4.2vmin 1vmin;
}

header .row .col-md-5 img {
    width: 90%;
}

header .container .col-md-7 h6 {
    padding: 1vmin;
    letter-spacing: 4px;
}

header .container .col-md-7 {
font-family: "Rubik",sans-serif;
}

header .container .col-md-7 h1 {
    padding: 0.1em 0em;
    font-size: 8.5vmin;
    font-weight: bold;
}

header .container .col-md-7 p {
    padding: 1vmin 5vmin;
}

.primary-btn {
    border-radius: 30px;
    font-weight: bold;
}